pillow==6.2.0
ofxparse==0.16
suds-jurko-requests
pytrustnfe3>=0.10.0
#python3-cnab
git+git://github.com/id42sistemas/python-cnab.git@master3-id42_master#egg=python3_cnab
python3-boleto
git+git://github.com/id42sistemas/python-sped@11.0-id42_master#egg=python-sped
xmlsec
lxml==4.2.3
pycnab240
